* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#0f0c29, 
    #302b63, #24243e);
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.temperature {
    flex-direction: column;
}
canvas {
    display: flex;
    flex: auto;
    width: 50%;
    justify-content: space-between;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 35px;
}